*~
*.swp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/icons/Makefile
data/icons/Makefile.in
data/Makefile
data/Makefile.in
data/vinagre.desktop
data/vinagre.desktop.in
data/vinagre-file.desktop
data/vinagre-file.desktop.in
data/vinagre-mime.xml
data/vinagre.schemas
data/*.pc
data/org.gnome.Empathy.StreamTubeHandler.x_vnc.service
depcomp
gnome-doc-utils.make
help/Makefile
help/Makefile.in
help/*/*.mo
help/*.omf
help/*/vinagre.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
omf.make
po/*.gmo
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
plugins/Makefile
plugins/Makefile.in
vinagre/.deps/
vinagre/GNOME_VinagreApplet.server
vinagre/GNOME_VinagreApplet.server.in
vinagre/Makefile
vinagre/Makefile.in
vinagre/*.o
vinagre/*.swp
vinagre/*.lo
vinagre/libvinagre.la
vinagre/.libs/*
vinagre/view/.deps
vinagre/view/*.la
vinagre/view/.libs
vinagre/view/*.lo
vinagre/view/*.o
vinagre/vinagre
vinagre/vinagre-applet
vinagre/vinagre-enums.*
vinagre/vinagre-ui.xml
vinagre/vinagre.glade
vinagre/dbus-interface-glue.h
stamp-h1
xmldocs.make
*.tar.gz
