*~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/icons/Makefile
data/icons/Makefile.in
data/Makefile
data/Makefile.in
data/vinagre.desktop
data/vinagre.desktop.in
data/vinagre-file.desktop
data/vinagre-file.desktop.in
data/vinagre-mime.xml
data/vinagre.schemas
data/org.gnome.Empathy.StreamTubeHandler.x_vnc.service
depcomp
gnome-doc-utils.make
help/Makefile
help/Makefile.in
help/*/*.mo
help/*.omf
help/*/vinagre.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
omf.make
po/*.gmo
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/.deps/
src/GNOME_VinagreApplet.server
src/GNOME_VinagreApplet.server.in
src/Makefile
src/Makefile.in
src/*.o
src/*.swp
src/*.lo
src/libvinagre.la
src/.libs/*
src/view/.deps
src/view/*.la
src/view/.libs
src/view/*.lo
src/view/*.o
src/vinagre
src/vinagre-applet
src/vinagre-enums.*
src/vinagre-ui.xml
src/vinagre.glade
src/dbus-interface-glue.h
stamp-h1
xmldocs.make
*.tar.gz
