*~
*vala.stamp
Makefile
Makefile.in
/.deps
/.libs
/*.tar.xz
/ABOUT-NLS
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/
/config.log
/config.h
/config.h.in
/config.status
/configure
/data/org.freedesktop.Telepathy.Client.Vinagre.service
/data/org.gnome.Vinagre.gschema.valid
/data/org.gnome.Vinagre.gschema.xml
/data/vinagre-*.pc
/data/vinagre-file.desktop
/data/vinagre-file.desktop.in
/data/vinagre-mime.xml
/data/vinagre.desktop
/data/vinagre.desktop.in
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/librdp.la
/libreversevnc.la
/libssh.la
/libvinagre.la
/libvnc.la
/libtool
/m4/
/omf.make
/plugins/im-status/im-status.plugin
/plugins/rdp/*.lo
/plugins/rdp/.deps
/plugins/rdp/.dirstamp
/plugins/rdp/.libs
/plugins/rdp/rdp.plugin
/plugins/reverse-vnc/*.lo
/plugins/reverse-vnc/.deps
/plugins/reverse-vnc/.dirstamp
/plugins/reverse-vnc/.libs
/plugins/reverse-vnc/if/*.lo
/plugins/reverse-vnc/if/.deps
/plugins/reverse-vnc/if/.dirstamp
/plugins/reverse-vnc/if/.libs
/plugins/reverse-vnc/reverse-vnc.plugin
/plugins/spice/*.lo
/plugins/spice/.deps
/plugins/spice/.dirstamp
/plugins/spice/.libs
/plugins/spice/spice.plugin
/plugins/ssh/*.lo
/plugins/ssh/.deps
/plugins/ssh/.dirstamp
/plugins/ssh/.libs
/plugins/ssh/ssh.plugin
/plugins/vnc/*.lo
/plugins/vnc/.deps
/plugins/vnc/.dirstamp
/plugins/vnc/.libs
/plugins/vnc/vnc.plugin
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/remove-potcdate.sin
/po/quot.sed
/po/stamp-it
/po/*.gmo
/stamp-h1
/vinagre/*.lo
/vinagre/*.o
/vinagre/.deps
/vinagre/.dirstamp
/vinagre/.libs
/vinagre/view/*.lo
/vinagre/view/.deps
/vinagre/view/.dirstamp
/vinagre/view/.libs
/vinagre/vinagre-utils.c
/vinagre/vinagre
/xmldocs.make
