/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/org.freedesktop.Telepathy.Client.Vinagre.service
/so_locations
/tags
/vinagre-1.0.pc
/vinagre-file.desktop
/vinagre-file.desktop.in
/vinagre-mime.xml
/vinagre.desktop
/vinagre.desktop.in
/vinagre.pc
/vinagre.schemas.in
/*.gschema.valid
