/*~
/*.bak
/.deps
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/_libs
/.libs
/*.lo
/Makefile
/Makefile.in
/*.o
/org.freedesktop.Telepathy.Client.Vinagre.service
/org.gnome.Vinagre.gschema.valid
/org.gnome.Vinagre.gschema.xml
/*.orig
/*.rej
/so_locations
/.*.sw[nop]
/*.tab.c
/tags
/TAGS
/vinagre-1.0.pc
/vinagre.desktop
/vinagre.desktop.in
/vinagre-file.desktop
/vinagre-file.desktop.in
/vinagre-mime.xml
/vinagre.pc
